@import '../../variables.scss';

$button-width: 70px;
$distance: 5px;

div.sendBox{
  position: absolute;
  bottom: 10px;
}

input#msgText {
  width: $chat-width - $button-width - $distance;
  height: 25px;
}

button#sendButton {
  width: $button-width - $distance;
  height: 25px;
  background-color: $primary-color;
  border: none;

}